/*-----------------------------------------
    Project Name: Proyek Tim A08 HTML & CSS
    Version: 1.0
    Author: TIM A08
    Devloped by: TIM A08
    Relase Date: November 2021
--------------------------------------------*/

/*---------------------------
      Table of Contents
    -------------------------

    01- Global Styles
    02- Header & Navbar
    03- Skills 
    04- Portfolio
    05- Testimonial
    06- Contact
    07- Footer

----------------------------*/

/*--------------------------
      Global Styles
---------------------------*/

:root {
  --black: #000;
  --gray: #a6a6a6;
  --yellow: #fcd549;
  --text-color: #4a4949;
  --white: #fff;
  --shadow: #0000002f;
}
* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  position: relative;
  color: var(--text-color);
}

section {
  margin: 100px auto;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

nav {
  padding-top: 20px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  margin-left: 30px;
  font-family: "Poppins", sans-serif;
  color: var(--black);
}

nav ul li a:hover {
  font-weight: bold;
  color: var(--yellow);
}

.navbar-icon {
  display: none;
  visibility: collapse;
  width: 0px;
  height: 0px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-self: center;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1320px;
}
/*--------------------------
      Title & Subtitle
---------------------------*/

.title {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 30px;
}

.subtitle {
  font-family: "Poppins", sans-serif;
  color: var(--gray);
  font-size: 23px;
  font-weight: 400;
  text-transform: uppercase;
}

.mt-5 {
  margin-top: 50px;
}

.text-yellow {
  color: var(--yellow);
}

.text-white {
  color: var(--white);
}
/*--------------------------
      Header & Navbar
---------------------------*/

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 30px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.474);
  border-radius: 5px;
  padding: 10px;
  transition: 0.6s;
}

.btn-primary {
  margin-top: 50px;
  width: 146px;
  height: 63px;
  border-radius: 5px;
  background-color: var(--black);
  font-weight: 600;
  font-size: 18;
  font-family: "Poppins", sans-serif;
}

.btn-primary a {
  color: var(--yellow);
  display: block;
}

.btn-primary:hover {
  background: var(--yellow);
  border: var(--yellow);
}

.btn-primary a:hover {
  color: white;
}

.profile-desc {
  margin-top: 100px;
  font-size: 20px;
}

/*--------------------------
     Skills
---------------------------*/
.skills-header {
  text-align: center;
  margin-bottom: 100px;
}

.skill-box {
  border-radius: 20px;
  margin-bottom: 60px;
  padding: 30px;
  height: 316;
  width: 430px;
}

.skill-box:hover {
  box-shadow: 0px 0px 30px var(--shadow);
  border-radius: 20px;
}

.skill-icon {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.skill-icon i {
  background-color: var(--black);
  font-size: 30px;
  color: white;
  margin-right: 20px;
  padding: 30px;
  border-radius: 3px;
}

.skill-box:hover i {
  background-color: var(--yellow);
  color: var(--black);
}

/*--------------------------
     Portfolio
---------------------------*/
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}
.portfolio-img {
  margin-bottom: 55px;
  width: 300px;
  filter: brightness(0.7);
}

.portfolio-img:hover {
  filter: brightness(1);
  transition: all 0.5s linear 0.5s;
}

.subtitle:hover > .fa-long-arrow-alt-right {
  padding-left: 10px;
  transition: all 0.5s linear 0.5s;
}

/*--------------------------
     Testimonials
---------------------------*/

.testimonials {
  background-image: url("../images/bg-testimony.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 780px;
  padding: 80px 0px 0px 0px;
}

.testimony-header {
  text-align: center;
  color: var(--white);
  margin-bottom: 95px;
}

.testimony {
  text-align: center;
  background: var(--white);
  position: relative;
  width: 376px;
  height: 335px;
  border-radius: 5px;
  margin-top: 50px;
}
.testimony-img {
  width: 120px;
  border-radius: 50%;
  position: absolute;
  top: -55px;
  left: 35%;
  border: var(--yellow) solid 3px;
}

.testimony-desc {
  color: var(--text-color);
  padding: 100px 40px 30px 50px;
  font-style: italic;
}

.testimony-job-title {
  margin-top: 25px;
  color: var(--text-color);
}

.stars-icon {
  margin-top: 30px;
}

/*--------------------------
     Contact
---------------------------*/
.contact-box {
  background-image: url("../images/bg-contact.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 397px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.contact-box {
  color: var(--white);
  margin: 0 auto;
  text-align: center;
}

.contact-box .email {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 23px;
  margin: 30px auto;
}

.contact-box .social-media {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.contact-box .social-media-item {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: var(--white);
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-box .social-media-item a {
  color: var(--black);
}

.contact-box .social-media-item:hover i {
  color: var(--yellow);
  font-size: 30px;
}

/*--------------------------
     Footer
---------------------------*/

footer {
  height: 50px;
}
.active {
  margin: 0 10px;
  color: var(--yellow);
}

/* -------------------------
    Button back to Top 
----------------------------*/

.arrow-down {
  display: flex;
  justify-items: center;
  justify-content: center;
  font-size: 50px;
  margin-top: 100px;
}

.arrow-down a {
  color: #b1b1b1;
}

.btn-backtop {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: 150px;
  right: 70px;
  bottom: 50px;
  position: absolute;
  background: var(--yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-backtop a i {
  color: var(--white);
  font-size: 20px;
  padding-left: 15px;
}

.btn-backtop a:hover i {
  color: var(--black);
}
/*---------------------------------------
     Responsive
-----------------------------------------*/

/*  Tablets */
@media (max-width: 1200px) {
  .container {
    margin: 0 auto;
    /* border: #fc49c0 solid 3px; */
    justify-content: center;
  }

  /* Hero */
  .hero-container {
    margin: 0 auto;
    text-align: center;
    flex-direction: column-reverse;
  }

  /* portfolio */
  .portofolio-header-container {
    justify-content: space-around;
  }

  .portfolio-img {
    width: 180px;
    margin-bottom: 20px;
  }

  /* Testimonials */

  .testimonials {
    height: auto;
    padding: 100px 0px;
  }
  .testimony {
    margin-top: 150px;
    width: 300px;
    margin-right: 10px;
  }
}

/* Tables */
@media (max-width: 992px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
    /* border: #fcd549 solid 3px; */
    justify-content: center;
  }

  /* Hero */
  .hero-container {
    margin: 0 auto;
    text-align: center;
    flex-direction: column-reverse;
  }

  /* Portfolio */

  .portofolio-header-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .portfolio-header {
    justify-content: space-around;
  }

  .portfolio-img {
    margin: 0 auto;
    width: 48%;
  }

  .row {
    margin-bottom: 20px;
  }

  /* Testimonials */

  .testimony {
    margin-top: 100px;
    margin-right: 15px;
    width: 270px;
    height: 270px;
    padding: 10px;
  }

  .testimony-img {
    width: 80px;
    height: 80px;
  }

  .testimony-desc {
    padding: 30px;
  }

  /* Contact */
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }

  /* Hero */
  .hero-container {
    margin: 0 auto;
    text-align: center;
    flex-direction: column-reverse;
  }

  /* Portfolio */
  .portofolio-header-container {
    padding: 0 30px;
  }

  .portfolio-img {
    margin: 0 auto;
    width: 45%;
  }

  .portfolio-subheader {
    margin-bottom: 30px;
  }
}

/* Mobile Phone */
@media (max-width: 670px) {
  section {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .container {
    max-width: 640%;
    margin: 0 auto;
    /* border: green solid 3px; */
    height: auto;
    padding: 30px;
  }

  .navbar {
    justify-content: space-around;
  }

  .navbar-icon {
    width: 30px;
    height: 30px;
    padding-top: 20px;
    visibility: visible !important;
    display: inline;
  }

  .menu {
    visibility: collapse;
    font-size: 0;
  }

  /* Hero */
  .hero-container {
    margin: 0 auto;
    text-align: center;
    flex-direction: column-reverse;
  }

  .profile-picture img {
    max-width: 300px;
  }

  .title {
    font-size: 40px;
  }

  /* Skills */
  .skill-box {
    width: fit-content;
  }
  .skill-icon img {
    width: fit-content;
    margin-right: 10px;
  }

  /* Portfolio */

  .portfolio-img {
    margin: 0 auto;
    width: 80%;
  }

  /* Contact */
  .contact-box {
    margin: 0 20px;
  }
  .contact {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }

  /* Hero */
  .hero-container {
    text-align: center;
    flex-direction: column-reverse;
  }

  /* Portfolio */

  .portfolio-img {
    margin: 0 auto;
    width: 80%;
  }
}
